#frame{
    height:540px; 
    display:flex;
    align-items:flex-end;
    background-color:rgb(223, 235, 240);

}
#road{
    height:150px;
    background-color:black;
    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    position:relative;
    z-index:0;
   
    
}
.dividor{
    height:10px;
    width:100px;
    background-color:white;
   
}
#car{
    height:300px; 
    width:350px;   
    /* background-color:bisque; */
    background-image: url("car.png");
    background-size:cover;
    position:absolute;
    left:0;
    bottom:80px;
    z-index:1;

    animation-name:carRun;
    animation-duration:5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes carRun {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  49% {
    transform: translateX(100vw) rotate(0deg);
  }
  50% {
    transform: translateX(100vw) rotateY(180deg);
  }
  100% {
    transform: translateX(0px) rotateY(180deg);
  }
}

.cloud{
    background-image:url("cloud.png");
    background-size:auto 100%;
    position:absolute; 
    z-index:2;
    animation-name:cloudMove;
    animation-duration:10s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#c1{
    height:300px;
    width:300px;
    left:30px;
    bottom:300px;
}
#c2{
    height:200px;
    width:200px;
    left:400px;
    bottom:380px;
}

#c3{
    height:300px;
    width:300px;
    left:700px;
    bottom:300px;
}

#c4{
    height:200px;
    width:200px;
    left:1050px;
    bottom:380px;
}
 @keyframes cloudMove {
    0% {
      opesity: 0.6;
        transform: translateX(0px) scale(1);

    }
    50% {
      opesity:0.2;
        transform: translateX(4vw) scale(1.10);
    }
    100% {
      opesity: 0.8;
        transform: translateX(-2vw) scale(1);
    }
  }


  
#ball{
        height:120px;
        width:120px;
        margin:10px auto;
        border-radius:50%;
        background:linear-gradient(rgb(245, 231, 245),rgb(143, 120, 160)); 
        border:2px solid black;
        animation-name:kuchNahi;
    animation-duration:900ms;
    animation-timing-function:ease-in;
    
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes kuchNahi{
    0%
    {
        transform:translateY(0px);
       
    }
    
    100%
    {
        transform:translateY(80vh);
        
    }

}

