* {
    padding: 0px;
    margin: 0px;
    border: border-box;
}

#navBar1 {
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 10px;
    position: sticky;
    top: 0;
}

#searchbox {
    display: flex;
    justify-content: flex-start;
    width: 45%;
    height: 40px;
}

#dropdown {
    width: 40px;
    height: 40px;
    background-color: #f2f2f2;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    font-size: 14px;
}

#input {
    width: 100%;
    height: 40px;
    border: none;
    font-size: 15px;
}

#searchicon {
    width: 50px;
    height: 40px;
    background-color: #febd69;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#size1 {
    font-size: 12px;
}

#size2 {
    font-size: 18px;
}

#logo:hover,
#location:hover,
#lang:hover,
#signin:hover,
#return:hover,
#cart:hover {
    border: 1px solid white;
    cursor: pointer;
}

#navBar2 span:hover {
    border: 1px solid white;
}

#navBar2 {
    height: 40px;
    width: 100%;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navBar2 span {
    display: flex;
    height: 38px;
    align-items: center;
}

#navBar2 a {
    text-decoration: none;
    color: white;
}

#bg {
    height: 1200px;
    width: 100%;
    background: linear-gradient(to bottom, #80a5d9, #cfcfd0, #e1dfdf, #e6e6e7);

}

#bgimg {
    height: 300px;
    display: flex;
    position: relative;

    background-image: url("https://images-eu.ssl-images-amazon.com/images/G/31/img25/Media/PC_Hero_3000x1200_Asin-toys-2x._CB547414496_.jpg");
    background-size: cover;
}

#leftarrow {
    position: absolute;
    top: 35%;
    justify-content: flex-start;
    height: 70px;
    width: 60px;
    font-size: 60px;
}

#rightarrow {
    position: absolute;
    top: 35%;
    right: 0;
    justify-content: flex-end;
    height: 70px;
    width: 40px;
    font-size: 60px;
}

.itemRow {
    height: 35%;
    width: 97%;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;

}

.col {
    height: 95%;
    width: 22%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 10px;

}

.par1 {
    height: 15%;
    width: 95%;
    font-size: 25px;
    font-weight: bold;
}

.par3 {
    height: 10%;
    width: 95%;
    font-size: 15px;
    color: blue;
}

.par3:hover {
    color: #0f1111;
}

.par2 {
    height: 75%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iRow1,
.iRow2 {
    height: 50%;
    width: 100%;
    display: flex;
    padding: 10px;

}

.item1,
.item2,
.item3,
.item4 {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.it1img,
.it2img,
.it3img,
.it4img {
    height: 100%;
    width: 130px;

}

.it1txt,
.it2txt,
.it3txt,
.it4txt {
    height: 30px;
    width: 130px;
    text-align: center;
    font-size: 15px;


}

.iRow1 img,
.iRow2 img {
    height: 100px;
    width: 120px;
    background-size: auto;
}


.outer2 {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #e6e6e7;
}

.sRow {
    height: 20%;
    width: 94%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0px 20px 0px 20px;
    padding: 20px;
}

.sRowtxt {
    height: 20px;
    width: 100%;
}

.sRowdiv {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;


}

.sRowitems {
    width: 17%;
}

.sRowdiv img {
    height: 200px;
    width: 100%;
    background-size: cover;

}

.h1 {
    font-size: 25px;
    font-weight: bold;
}

.h2 {
    font-size: 15px;
    color: blue;
}

.h2:hover {
    color: #0f1111;
    text-decoration: underline;
}

#end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}




#foot {
    display: flex;
    height: 800px;
    width: 100%;
    flex-direction: column;
}

#f1 {
    height: 40px;
    width: 100%;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#f2 {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #232f3e;
    
}

.f2txt {
    margin-top: 50px;
    padding: 10px;
}

#f2 a {
    color: white;
    text-decoration: none;
}

#f2 a:hover {
    text-decoration: underline;
}

#f2 text {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#f3 {
    background-color: #131a22;
    width: 100%;
}

.f3-2 {
    display: flex;
    color: white;
    justify-content: flex-start;
}

.f3-2 text:hover,
a:hover {
    text-decoration: underline;
}

.f3txt {
    margin-top: 30px;
    margin-left: 100px;
    width: 130px;
    font-size: 12px;
    font-weight: lighter;
}

.font3 {
    font-size: 15px;
}


#f3-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: white;
    font-size: 13px;
}

#f3-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 13px;
}

#f3 a {
    color: white;
    text-decoration: none;
}

#f3 a:hover {
    text-decoration: underline;
}



@media only screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    #navBar1 {
        display: flex;
        flex-direction: column;
        height: 150px;
        width: 100%;
    }

    #searchbox {
        position: absolute;
        left: 10px;
        top: 30%;
        position: absolute;
        width: 90%;
    }

    #logo {
        position: absolute;
        left: 0%;
        top: 0%;
    }

    #cart {
        position: absolute;
        top: 10px;
        right: 2%;
    }

    #signin {

        position: absolute;
        top: 0px;
        right: 20%;

    }

    #location {
        position: absolute;
        left: 60%;
        top: 60%;

    }

    #return {

        position: absolute;
        left: 30%;
        top: 60%;
    }

    #lang {
        position: absolute;
        left: 0px;
        top: 60%;
    }

    #navBar2 {
        display: none;
    }

    #bg {
        width: 100%;
        height: auto;
    }

    #bgimg {
        width: auto;
    }

    #bgimg span {
        display: none;
    }

    .outer2 {
        display: none;
    }

    #end {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #foot {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .f3 {
        width: 100%;
    }

    .f3txt {
        text-align: left;
        margin: 3%;

    }
    #f2{
        font-size: 10px;
    }

    #f3-3,
    #f3-4 {
        text-align: center;
    }


}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    * {
        margin: 0px;
        padding: 0px;
    }

    #navBar1 {
        display: flex;
        flex-direction: row;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        font-size: 125%;
    }

    #searchbar {
        position: absolute;
        width: 40%;
    }

    #navBar1 span {
        padding: 2%;
    }

    #navBar2 {
        display: flex;
        justify-content: space-around;
        font-size: 70%;
    }

    #navBar2 span {
        padding: 1%;
    }

    #bg {
        width: 100%;
        height: auto;
    }

    #bgimg {
        width: auto;
    }

    .outer2 {
        display: none;
    }

    #end {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #foot {
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .f3 {
        width: 100%;
    }

    .f3txt {
        text-align: left;
        margin: 3%;

    }

    #f3-3,
    #f3-4 {
        text-align: center;
    }


}

@media only screen and (max-width: 450px) {
    .itemRow {
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
        margin: 0px;
        align-items: center;


    }

    .col {
        height: 400px;
        width: 80%;
        margin: 2%;
    }
}

@media only screen and (min-width: 450px) and (max-width: 750px) {
    .itemRow {
        height: auto;
        width: 85%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #remove3 {
        display: none;
    }

    #remove4 {
        display: none;
    }

    .col {
        height: 400px;
        width: 50%;
        margin: 2%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1000px) {
    .itemRow {
        height: auto;
        width: 92%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;


    }

    #remove4 {
        display: none;
    }

    .col {
        height: 400px;
        width: 30%;
        margin: 10px;
    }
}