#outer{
    display:flex;
    height:1200px;
    width:1200px;
    background-color: rgb(209, 209, 158);
    flex-direction:column;
    margin: 20px 20px 20px 20px;   
}

#heading{ 
   
    text-align: center;
    width: 1000px;
    height:70px;
    margin:50px 100px 0px 100px;
    /* padding: 20px 20px 20px 20px; */
    color:white;
    background-color:rgb(10, 10, 56);
    font-size:50px;
}

#outer2{
    display:flex;
    height:900px;
    flex-direction:row;
    justify-content:space-between;

} 

#i1{ 
    height:700px;
    width:500px;
    background-image:url("https://img.freepik.com/free-photo/chicken-pizza-with-bell-peppers-herbs-barbecue-sauce_140725-8379.jpg?ga=GA1.1.288537252.1741439925&semt=ais_hybrid");
    background-size:cover;
}

#inner1{
    width:400px;
    font-size:19px;
    margin-left:100px;
    margin-top:50px;
    align-items:flex-start;
}

#inner2{
    font-size:19px;
    width:400px;
    margin-right:100px;
    /* margin-left:580px; */
    margin-bottom:100px;
    margin-top:50px;
    align-items:flex-end;
}

/* #i2{
    height:350px;
    width:450px;
    background-image:url("https://media.istockphoto.com/id/508652109/photo/french-toast-with-blueberries-and-maple-syrup.jpg?s=612x612&w=0&k=20&c=KUiA0yhDnEM_4rGEQiEq7RlHBXj-lM_P2YlrhsGLXJQ=");
    background-size:cover;
} */